/*

Custom Styles For Drosophilia

AdaptiveTheme provides 5 viewport sizes. 

This file contains global styles, and styles used in:

--smartphone.landscape
--smartphone.portrait
--tablet.portrait

The two files

--responsive.tablet.landscape.css  
--responsive.desktop.css

overwrite styles supplied in this one. 

   __   __
  /  \-/  \
\_\   |   /_/
\__\__Y__/__/
   _{___}_
  / (#I#) \
     ~^~        jgs 

*/

@import url("../fonts/opensans_regular/stylesheet.css");
@import url("../fonts/opensans_semibold/stylesheet.css");
@import url("../fonts/opensans_lightitalic/stylesheet.css");


/* -=-=- Global -=-=- */

body {
  font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
  background: #E6E6E6;
}

/* -=-=- Admin Toolbar -=-=- */

#admin-menu {
  position: relative;
}

/* -=-=- Admin Overlay -=-=- */

ul.action-links {
    list-style: disc;
}

#overlay {
  min-width: 300px;
}

#overlay #branding {
  display: none;
}

#overlay #page-title{
  display: none;
}

#overlay #columns {
  border: none !important;
}

#overlay #content-wrapper div.columns-inner {
  position: static !important;
}

td.ctools-export-ui-operations {
position: relative;
}

td.ctools-export-ui-operations .ctools-dropbutton {
position: relative;
}

/* -=-=- Leaderboard -=-=- */

#leaderboard-wrapper {
  background: #1A1A1A;
}

#leaderboard-wrapper .block {
  margin: 0px;
}

#leaderboard-wrapper .block-inner {
  margin: 0px;
}

#leaderboard-wrapper .clearfix {
  overflow: auto;
}

#leaderboard-wrapper li {
  list-style: none;
}

#leaderboard-wrapper a {
  color: #FFF;
  padding: 0.25rem 0.45rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 3%/15%;
}

#leaderboard-wrapper a:hover {
  color: #1A1A1A;
  background-color: #EFEFEF;
}

#leaderboard-wrapper #logo a:hover {
  color: transparent;
  background-color: transparent;
}

#leaderboard-wrapper ul {
  padding: 0rem;
  margin: 0.4rem 0.2rem 0.4rem 0.5rem;
}

/* -=-=- Leaderboard Left -=-=- */

#leaderboard-wrapper section:first-child {
  float: left;
}

#leaderboard-wrapper section:first-child a {
  color: #EFEFEF;
  background: #3D6477;
}
    
#leaderboard-wrapper section:first-child a:hover {
  background: #BBD3DF;
  color: #1A1A1A;
  text-decoration: none;
}

/* -=-=- Leaderboard Right -=-=- */

#leaderboard-wrapper nav.block-nice-menus {
  display: none;
}

#leaderboard-wrapper #block-system-main-menu.accordion {
  clear:both;
  float:left;
  width: 100%;
  margin-top: 0px;
}

#leaderboard-wrapper #block-system-main-menu.accordion ul{
  margin-top: 0px;
}

#leaderboard-wrapper #block-system-main-menu.accordion li{
  width: 100%;
  padding-right: 0rem;
}

#leaderboard-wrapper #block-system-main-menu.accordion li a{
  display: block;
  margin-left:0.4rem;
  margin-right:0.4rem;
  border-radius:1%/20%;
  padding: 0.5rem;
}

/* -=-=- Menu Link -=-=- */

#menu-link {
  float: right;
  margin: 0.2rem 0.3rem 0.2rem 0.5rem;
  padding: 0.1rem;
  border: thin solid #393939;
  border-radius: 5%/20%;
  background-color: #393939;
}

#menu-link.hover {
  color: #1A1A1A;
  background-color: #EFEFEF;
  border: thin solid #EFEFEF;
}

/* -=-=- Branding -=-=- */

#site-name {
  line-height: 2.8rem;
}

#header {
  text-align: center;
}

#header {
  text-align: center;
  padding-left: 5px;
}

#logo {
  height: 1px;
  text-align: center;
  padding-bottom: 0px;
  margin-right: 0.3rem;
}

#logo a {
  position: relative;
  top: -3.2em;  
  padding: 0px;
}

#logo img {
  width: 50px;
}

#name-and-slogan h1 {
  font-weight: 400;
}

#name-and-slogan a {
  color: black;
}

#leaderboard-wrapper #logo {
  margin: 0px;
  padding: 0px;
}

#leaderboard-wrapper #logo a {
  top: 0.3rem;
}

#leaderboard-wrapper div.container {
  overflow: visible;
}

#leaderboard-wrapper div.region-inner {
  overflow: visible;
}

#site-slogan {
  font-family: 'open_sanslight_italic', Helvetica, Arial, sans-serif; 
  font-weight: normal;
  display: none;
}

/* -=-=- Secondary Menu -=-=- */

#header section.block-menu{
  float: right;
  margin-bottom: 0px;
}

#header section.block-menu li {
  list-style: none;
  float: left;
  margin-right: 1rem;
}

#header section.block-menu ul.menu {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#header section.block-menu div.block-inner {
  margin: 0px;
}

#header section.block-menu ul {
  padding: 0px;
}

#leaderboard-wrapper #block-menu-menu-secondary-menu-to-hamburger.accordion {
  clear:both;
  float:left;
  width: 100%;
}

#leaderboard-wrapper #block-menu-menu-secondary-menu-to-hamburger.accordion ul{
  margin-bottom: 0px;
}

#leaderboard-wrapper #block-menu-menu-secondary-menu-to-hamburger.accordion li{
  width: 100%;
  padding-right: 0rem;
}

#leaderboard-wrapper #block-menu-menu-secondary-menu-to-hamburger.accordion li a{
  display: block;
  margin-left:0.4rem;
  margin-right:0.4rem;
  border-radius:1%/20%;
  padding: 0.5rem;
}

/* -=-=- Search -=-=- */

#block-search-form  {
  margin-bottom: 10px;
  position: relative;
}

#block-search-form div.block-inner {
  margin-right: 0px;
}


#block-search-form div.container-inline {
  padding-top: 0px;
}

#block-search-form form {
  float: right;
  clear: right;
  margin-right: 1.5rem;
  margin-bottom: 0rem;  
  border: thin solid #DADADA;
  background: #F1F1F1;
  border-radius:1%/20%;
}

#block-search-form form input {
  float: left;
  border: none;
  background: #F1F1F1;
  border-radius:1%/20%;
  padding: 0.5rem;
  width: 12rem;
  border-right: none;
}

#block-search-form form input.form-submit {
  float: right;
  clear: none;
  border: none;
  text-indent: -9999px;
  width: 23px;
  height: 23px;
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 3px;
  background-image: url('../images/search.svg');
  background-size: contain;
}

#leaderboard-wrapper #block-search-form.accordion {
  float: left;
  width: 100%;  
}

#leaderboard-wrapper #block-search-form.accordion div.block-inner {
  display: block;
  margin: 0rem 1rem 0.5rem 1.3rem;
}

#leaderboard-wrapper #block-search-form.accordion form {
  float: left;
  clear: both;
  width: 100%;
  margin: 0px;
}

#leaderboard-wrapper #block-search-form.accordion input.form-text {
  width: 90%;
}

#leaderboard-wrapper #block-search-form.accordion input.form-submit {
  position: absolute;
  right: 20px;
  top: 2px;
}

#leaderboard-wrapper #block-search-form.accordion div.contextual-links-wrapper {
  display: none;
}

#leaderboard-wrapper #block-search-form {
  overflow: visible;
}

#leaderboard-wrapper #block-search-form div.clearfix {
  overflow: visible;
}

/* -=-=- Nav Wrapper (Red Banner) -=-=- */

#nav-wrapper div.container h1 {
  text-align: center;
}

#nav-wrapper {
  color: white;

} 

#nav-wrapper div.container {
  background: #b9212c;
  min-height: 1rem;
}

/* -=-=- Content -=-=- */


#content-wrapper div.container a {
    color: #186d92;
}

td.views-field-contextual-links .contextual-links-wrapper{
  width: 34px;
  position: relative;
}

#content-wrapper div.container {
  background: white;
  padding-top: 1px;
}

span.phonenumber {
  padding-left: 17px;
  background: url("../images/phone.png") no-repeat;
}

span.emailaddress {
  padding-left: 20px;
  background: url("../images/email.png") center left no-repeat;
}

/* -=-=- Tasks -=-=- */

#tasks {
  margin-bottom: 0.2rem;
}

#tasks .tabs {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

/* -=-=- Footer -=-=- */

#footer {
  color: #DEDFD7;
  background: #1A1A1A;
}

#footer a {
  color: #DEDFD7;
}

#footer #block-menu-menu-leaderboard-left ul {
  margin-top: 0px;
}

