/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#header {
  text-align: center;
}

#leaderboard-wrapper section:first-child a {
  color: #EFEFEF;
  background: #3D6477;
}
    
#leaderboard-wrapper section:first-child a:hover {
  background: #BBD3DF;
  color: #1A1A1A;
  text-decoration: none;
}