/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

}


/*
 * Tablet sizes and up
 */
@media only screen and (min-width: 768px) {

     /* Reset branding */
    #header{
      text-align: left;
    }
    
    #logo{
      float: left;
    }

    #logo img{
      width: 60px;
    }
    
    #logo a{
      position: static;
    }
    
    #name-and-slogan{
      float: left;
    }

    #branding{
      float: left;
    }

    #site-name{
      line-height: 75px;
    }

    #leaderboard-wrapper #block-menu-menu-leaderboard-left {
      margin-left: 0rem;
    }

    #header section.block-menu:first-child li.last a {
      color: #EFEFEF;
      background: #3D6477;
      border-radius: 3%/15%;
      padding: 0.15rem 0.4rem;
    }
    
    #header section.block-menu:first-child li.last a:hover {
      background: #BBD3DF;
      color: #1A1A1A;
      text-decoration: none;
    }

    #leaderboard-wrapper section:first-child a {
      background: #393939;
    }
    
    #leaderboard-wrapper section:first-child a:hover {
      color: #1A1A1A;
      background-color: #FFF;
      text-decoration: none;
    }

    #block-search-form form {
      border-radius:4%/20%;
    }
    
    #block-search-form form input {
      border-radius:4%/20%;
    }

    #block-search-form {
      float: right;
      clear: right;
    }

    #site-name {
      font-size: 2.4rem;
    }

    #nav-wrapper {
      color: white;
    } 
    
    #nav-wrapper div.container {
      background: #b9212c;
    }
    
    #nav-wrapper div.container h1{
      border-right: 1rem solid #B9212c;
      border-left: 1rem solid #B9212c;
      padding-left: 1rem;
    }
    
    /* -=-=- Content -=-=- */
    
    #content-wrapper div.container {
      background: white;
    
    }
    
    #content-wrapper #columns {
      border-top: 1rem solid #5A1E17;
      border-left: 1rem solid #E6E6E6;
      border-right: 1rem solid #E6E6E6;
      background: white;
    }
    
    #content-wrapper div.columns-inner {
      position: relative;
      top: -1rem;
      background: white;
    }

    #nav-wrapper div.container h1 {
      padding-left: 1rem;
    }

    #content-wrapper div.container {
      padding-top: 0px;
    }

    #nav-wrapper div.container h1 {
      text-align: left;
    }

} 


/*
 * Desktops/laptops and up
 */

@media only screen and (min-width: 999px) {


}
