/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

@import url("responsive.tablet.landscape.css");

/* -=-=- Leaderboard Left -=-=- */


/* -=-=- Leaderboard Right -=-=- */


/* -=-=- Branding -=-=- */


/* -=-=- Secondary Menu -=-=- */


/* -=-=- Search -=-=- */


/* -=-=- Nav Wrapper (Red Banner) -=-=- */

#nav-wrapper div.container h1 {
  text-align: left;
  padding-left: 1rem;
  border-right: 1rem solid #B9212c;
  border-left: 1rem solid #B9212c;
}

#nav-wrapper {
  color: white;
} 

#nav-wrapper div.container {
  background: #b9212c;
}


/* -=-=- Content -=-=- */

#content-wrapper #columns {
  border-top: 1rem solid #5A1E17;
  border-left: 1rem solid #E6E6E6;
  border-right: 1rem solid #E6E6E6;
  border-bottom: 1rem solid #090909;
  background: white;
}

#content-wrapper div.container {
  padding-top: 0px;
  background: white;
}

#content-wrapper div.columns-inner {
  position: relative;
  top: -1rem;
  background: white;
  padding-top: 0.3rem;
}


/* -=-=- Alpha-pager -=-= */
.custom-alpha-pager {
font-size: 1em;
}

/* -=-=- Tasks -=-=- */

/* -=-=- Footer -=-=- */

#footer {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  top: -1rem;
  background: white;
}

#footer .region-footer {
  position: relative;
  top: 1rem;
}

/* -=-=- News on Homepage -=-=- */

.slide-title h3 a {
font-size: 1.125em;
}

.slide-title p {
display: block;
}

/* -=-=- Login -=-=- */
.login-content li {
font-size:2em;
}

/* -=-=- Find Page -=-=- */
div.view-find-guides-frontpage tr {
border-top: 1px solid #ccc;
}
