/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* -=-=- Global -=-=- */


/* -=-=- Admin Toolbar -=-=- */


/* -=-=- Admin Overlay -=-=- */


/* -=-=- Leaderboard -=-=- */
#leaderboard-wrapper{
  height: 40px;
}

/* -=-=- Leaderboard Left -=-=- */

#leaderboard-wrapper section:first-child a {
  background: #393939;
}

#leaderboard-wrapper section:first-child a:hover {
  color: #1A1A1A;
  background-color: #FFF;
  text-decoration: none;
}

/* -=-=- Leaderboard Right -=-=- */

#leaderboard-wrapper #block-system-main-menu {
  display: none !important;
}

#leaderboard-wrapper nav.block-nice-menus {
  display: block;
  overflow: visible;
}

#leaderboard-wrapper nav.block-nice-menus div.block-inner{
  overflow: visible;
}

#leaderboard-wrapper nav.block-nice-menus {
  float: right;
  margin-left: 0px;
}

#leaderboard-wrapper nav.block-nice-menus div.contextual-links-wrapper{
  display: none;
}

#leaderboard-wrapper nav.block-nice-menus ul li {
  background: none;
  border: none;
}

#leaderboard-wrapper nav.block-nice-menus ul li a:hover{
  background: none;
  color: #FFF;
}

#leaderboard-wrapper nav.block-nice-menus ul > li {
  padding: 0rem 0.5rem;
}

#leaderboard-wrapper nav.block-nice-menus ul > li.over {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  /*padding-bottom: 0.8rem;*/

  color: #1A1A1A;
  background-color: #EFEFEF;
}

#leaderboard-wrapper nav.block-nice-menus ul.nice-menu > li.over {
  padding-bottom: 0.8rem;
}

#leaderboard-wrapper nav.block-nice-menus ul > li.over > a {
  color: #1A1A1A;
  background-color: #EFEFEF;
}

#leaderboard-wrapper nav.block-nice-menus ul li ul{
  background: #EFEFEF;
  border: none;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 5px 5px 0px rgba(50, 50, 50, 0.75);
  margin: 0px;
  margin-top: 0.5rem;
  padding-bottom: 1rem;

}

#leaderboard-wrapper nav.block-nice-menus ul li ul a{
  color: #186d92;
  padding-top: 1rem;
}

#leaderboard-wrapper nav.block-nice-menus ul li ul a:hover{
  text-decoration: underline;
  color: #186d92;
}

#leaderboard-wrapper nav.block-nice-menus ul li.last ul{
  left: -1.8rem;
}

#leaderboard-wrapper nav.block-nice-menus ul li ul{
  width: 9rem;
}

#leaderboard-wrapper ul.nice-menu ul li {
  width: auto;
}

ul.nice-menu ul li {
  width: auto;
}

#block-menu-menu-leaderboard-left{
    height: 0px;
}

#block-nice-menus-1{
    height: 0px;
}

/* -=-=- Branding -=-=- */

#branding{
  float: left;
}

#logo{
  float: left;
}

#logo img{
  width: 60px;
}

#logo a{
  position: static;
}

#header {
  padding-left: 5px;
}

#site-slogan{
  display: block;
  float: right;
}

#name-and-slogan{
  float: left;
}

#site-name{
  padding-top: 10px;
  line-height: 34px;
  font-size: 2.4rem;
}

/* -=-=- Secondary Menu -=-=- */

#header div.region{
  float: right;
}

#header section a {
color: black;
}

#header #block-menu-menu-secondary-menu-to-leaderboa a{
  color: #EFEFEF;
  background: #3D6477;
  padding: 0.25rem 0.45rem;
  border-radius: 3%/15%;
}

#header #block-menu-menu-secondary-menu-to-leaderboa a:hover{
  background: #BBD3DF;
  color: #1A1A1A;
  text-decoration: none;
}


/* -=-=- Search -=-=- */

#block-search-form{
    clear: right;
    padding-top: 0.5rem;
}

/* -=-=- Nav Wrapper (Red Banner) -=-=- */
#nav-wrapper div.container h1 {
  text-align: left;
  padding-left: 1rem;
}

/* -=-=- Content -=-=- */


/* -=-=- Alpha-pager -=-= */
.custom-alpha-pager {
font-size: 1.25em;
}

/* -=-=- Tasks -=-=- */


/* -=-=- Footer -=-=- */

#footer-wrapper .container {
  background: #1A1A1A;
  border-bottom: 0.2rem solid #b9212c;
}

#footer .region-footer {
  background: #1A1A1A;
  padding: 0.5rem;
  padding-bottom: 0px;
}

#footer div.block{
  float: left;
  width: 20%;
}

#footer div.block:first-child{
  float: right;
  width: 80%;
  margin: 0px;
}

#footer div.block-menu div.block-content ul li.menu-depth-1{
  float: left;
  font-size: 120%;
  width: 22%;
  padding-left: 7px;
  padding-right: 7px;
}

#footer div.block-menu div.block-content ul li.menu-depth-1.last{
  margin-right: 0rem;
  width: 22%;
}

/* -=-=- News on Homepage -=-=- */

.slide-title h3 a {
font-size: 0.875em;
}

.slide-title p {
display: none;
}

/* -=-=- Login -=-=- */
.login-content li {
font-size:2em;
}

/* -=-=- Find Page -=-=- */
div.view-find-guides-frontpage tr {
border-top: 0;
}
